.bgimg{
    background: url(../img/customerImg/home-top.png) no-repeat center 70px;
    background-color: #efeee9;
    font-size: 14px;
    padding-top: 70px;
    .customer{
        overflow: hidden;
        padding-top: 200px;
        width: 1200px;
        margin: 0 auto;
        .customer-left{
            float: left;
            background: #fff;
            ul{
                width: 160px;
                li{
                    width: 160px;
                    color:#947070;
                    overflow: hidden;
                    img{
                        float: left;
                        margin: 20px 8px 0 25px ;
                    }
                    p{
                        float: left;
                        line-height: 60px;
                    }
                    .click{
                        width: 155px;
                        border-left: 5px solid #e60013 ;
                        color: #e60013;
                    }
                    .border{
                        border: 1px solod #efeee9;
                    }
                }
            }
        }
        .customer-right{
            float: left;
            margin-left: 28px;
            width: 1012px;
            
            .customer-home{
                .home-login{
                    background: #fdfbfa;
                    overflow: hidden;
                    img{
                        float: left;
                        margin:10px 20px 30px 30px ;
                    }
                    .button{
                        float: left;
                        margin-top: 30px;
                        width: 130px;
                        text-align: center;
                        background-color: #f04e4e;
                        line-height: 40px;
                        color: #fff;
                    }
                }
                .customer-property{
                    background: #fff;
                    width: 337px;
                    height: 234px;
                    box-sizing: border-box;
                    border-left: 1px solid #eceaea;
                    padding-left: 83px;
                    float: left;
                    .my-property{
                        overflow: hidden;
                        margin: 55px 0 0 0;
                        img{
                            float: left; 
                            margin-right: 26px;                      
                        }
                        p{
                            float: left;
                            line-height: 60px;
                            font-size: 20px;
                            color: #888;
                        }
                    }
                    .number{
                        text-indent: 7px;
                        font-size: 36px;
                        color: #555555;
                        margin-top: 20px;
                        span{
                            font-size: 16px;
                            margin-left: 5px;
                        }
                    }
                    
                }
                .bottom{
                    img{
                        padding: 20px 0 40px;
                    }
                }                       
            }
            
            .card-coupons{
                box-sizing: border-box;
                padding: 0 0 80px 30px;
                overflow: hidden;
                background:#ffffff;
                margin-bottom: 20px;
                .card-coupons-head{
                    height: 70px;
                    width: 730px;
                    border-bottom: 1px solid #e0e3e5 ;
                    .card-use,.card-hestory{
                        font-size: 16px;
                        line-height: 50px;
                        padding-top: 20px;
                        width: 130px;
                        color: #363636;
                        border-bottom: 1px solid  #e0e3e5;
                        float: left;
                    }
                    .click{
                       border-bottom: 1px solid  #e5534e; 
                       color: #e5534e;
                    }
                }
                .card-coupons-confi{
                    width: 352px;
                    height: 149px;
                    margin: 25px 30px 0 0;
                    float: left;
                    background: url(../img/customerImg/coupon-bg.png) no-repeat center center;
                    .card-coupons-dest{                       
                        position: relative;
                        .miaosu,.time{
                            width: 175px;
                            margin-left: 90px;
                            word-break: break-all;
                        }
                        .miaosu{
                            padding-top: 20px;
                            font-size: 14px;
                            line-height: 20px;
                            color: #333333;
                        }
                        .time{
                            font-size: 12px;
                            color: #999999;
                            line-height: 33px;
                        }
                        .button{
                            width: 100px;
                            margin-left: 125px;
                            font-size: 14px;
                            line-height: 35px;
                            border-radius: 5px;
                            text-align: center;
                            color: #FFF;
                            background: #e46255;
                            cursor: pointer;
                        }
                        .tanhao{
                            position: absolute;                         
                            top: 25px;
                            right: 30px;
                            cursor: pointer;                      
                        }
                        .dest-img{
                            width: 50px;
                            position: absolute;
                            left: 25px;
                            top: 30px;
                        }
                    }
                }
            }
        
            .k-gold{
                
                .k-gold-top{
                    text-align: center;
                    height: 210px;
                    position: relative;
                    margin-bottom: 20px;
                    background: url(../img/customerImg/kgold-bg.png) no-repeat center center;
                    .k-sum{
                        font-size: 20px;
                        line-height: 62px;
                        margin-top: 18px;
                        color: #333333;
                    }
                    b{
                        font-size: 50px;
                        line-height: 50px;
                        height: 50px;
                        color: #f1554b;
                        font-weight: bolder;
                    }
                    .dest{
                        font-size: 14px;
                        line-height: 52px;
                        color: #888888;
                        padding-bottom: 29px;
                    }
                    .download-app{
                        width: 173px;
                        font-size: 12px;
                        line-height: 40px;
                        color: #f1554b;
                        border: 1px solid #f1554b ;
                        position: absolute;
                        right: 20px;
                        top: 85px;
                    }
                }
            
                .k-gold-content{
                    box-sizing: border-box;
                    padding-left: 36px;
                    background: #fff;
                    .head{
                        overflow: hidden;
                        .had,.used{
                        width: 130px;
                        font-size: 14px;
                        line-height: 58px;
                        padding-top: 18px;
                        float: left;
                        text-align: center;
                        border-bottom: 1px solid #fff;
                        }
                        .click{
                            border-bottom: 1px solid #f1554b ;
                        }
                    }
                    .Concrete{
                        min-height: 440px;
                        p{
                           font-size: 22px;
                            line-height: 28px; 
                            text-indent: 35px;
                            background: url;
                            margin-top: 150px;
                            text-align: center;
                        }
                    }
                    
                }
            }
        }
    }
}
